.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;

  height: 69px;

  background: #f8f9fa;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
}

.header__button {
  display: flex;

  align-items: center;
  padding: 15px;

  height: 40px;

  background: #e9ecef;
  border: 1.4px solid #e9ecef;
  border-radius: 8px;
}
@media (min-width: 1024px) {
  .header__container {
    padding: 0 17.25%;

    height: 88px;
  }
}
